**Contents**

01 Importing Libraries

02 Importing Datasets

03 Data Wrangling

04 Data Indexing

05 Tasks

# 01. Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing datasets

In [2]:
# Set Path
path = r'C:\Users\Forrest\Desktop\Work\CareerFoundry\Python\2022-10 Instacart Basket Analysis'

In [3]:
# Import departments.csv
df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Raw Data', 'departments.csv'), index_col = False)

In [4]:
df_dep.head(10)

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [5]:
df_dep.shape

(1, 22)

In [20]:
# Orders variable list (exclude eval_set)
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

In [21]:
# Import orders.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Raw Data', 'orders.csv'), usecols = vars_list, index_col = False)

In [36]:
df_ords.head(10)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
5,3367565,1,6,2,7,19.0
6,550135,1,7,1,9,20.0
7,3108588,1,8,1,14,14.0
8,2295261,1,9,1,16,0.0
9,2550362,1,10,4,8,30.0

In [34]:
# Import products.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Raw Data', 'products.csv'), index_col = False)

In [37]:
df_prods.head(10)

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
5,6,Dry Nose Oil,11,11,2.6
6,7,Pure Coconut Water With Orange,98,7,4.4
7,8,Cut Russet Potatoes Steam N' Mash,116,1,1.1
8,9,Light Strawberry Blueberry Yogurt,120,16,7.0
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4

# 03. Data Wrangling

In [6]:
# Transpose df_dep
df_dep.T

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [8]:
# Creating new transposed table
df_dep_t = df_dep.T

In [9]:
# Create new header with first row
new_header = df_dep_t.iloc[0]

In [10]:
# New table excluding first row
df_dep_t_new = df_dep_t[1:]

In [11]:
# Assigning new header to columns
df_dep_t_new.columns = new_header

In [12]:
# Table check
df_dep_t_new

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

# 04. Data indexing

In [13]:
# Create data dictionary
data_dict = df_dep_t_new.to_dict('index')

In [14]:
# Data dictionary check
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

# 05. Tasks

Find another identifier variable in the df_ords dataframe that doesn’t need to be included in your analysis as a numeric variable and change it to a suitable format.

In [23]:
# Change order_id, user_id, and order_number to string type variables
df_ords['order_id'] = df_ords['order_id'].astype('str')
df_ords['user_id'] = df_ords['user_id'].astype('str')
df_ords['order_number'] = df_ords['order_number'].astype('str')

Look for a variable in your df_ords dataframe with an unintuitive name and change its name without overwriting the data frame.

In [24]:
# Change order_dow column name to orders_day_of_week
df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

Your client wants to know what the busiest hour is for placing orders. Find the frequency of the corresponding variable and share your findings.

In [32]:
# Frequency table for order hour
df_ords['order_hour_of_day'].value_counts()
# 10-11 AM is most frequent order hour

10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: order_hour_of_day, dtype: int64

Determine the meaning behind a value of 4 in the "department_id" column within the df_prods dataframe using a data dictionary.

In [33]:
# Finding meaning of '4' in departments data dictionary
print(data_dict.get('4'))
# It's the produce department!

{'department': 'produce'}

The sales team in your client’s organization wants to know more about breakfast item sales. Create a subset containing only the required information.

In [39]:
# Creating table with only breakfast department items
df_prods_breakfast = df_prods[df_prods['department_id'] == 14]

They’d also like to see details about customers who might be throwing dinner parties. Your task is to find all observations from the entire dataframe that include items from the following departments: alcohol, deli, beverages, and meat/seafood. You’ll need to present this subset to your client.

In [40]:
# Creating table for client with dinner party items (alcohol, deli, beverages, and meat/seafood)
df_dinner_party = df_prods.loc[df_prods['department_id'].isin([5,7,12,20])]

In [42]:
# Checking df_dinner_party for client
df_dinner_party.head(10)

,product_id,product_name,aisle_id,department_id,prices
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
6,7,Pure Coconut Water With Orange,98,7,4.4
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
16,17,Rendered Duck Fat,35,12,17.1
19,20,Pomegranate Cranberry & Aloe Vera Enrich Drink,98,7,6.0
22,23,Organic Turkey Burgers,49,12,8.2
34,35,Italian Herb Porcini Mushrooms Chicken Sausage,106,12,15.1
38,39,Daily Tangerine Citrus Flavored Beverage,64,7,12.5
39,40,Beef Hot Links Beef Smoked Sausage With Chile ...,106,12,22.5

It’s important that you keep track of total counts in your dataframes. How many rows does the last dataframe you created have?

In [51]:
#Counting number of rows in dinner party table
df_dinner_party.count()
#7650 rows (with some missing product names!)

product_id       7650
product_name     7647
aisle_id         7650
department_id    7650
prices           7650
dtype: int64

Someone from the data engineers team in Instacart thinks they’ve spotted something strange about the customer with a "user_id" of “1.” Extract all the information you can about this user.

In [48]:
# Creating new table containing only user 1 data
df_user_1 = df_ords.loc[df_ords['user_id'] == '1']

You also need to provide some details about this user’s behavior. What basic stats can you provide based on the information you have?

In [50]:
# Table with User 1 data
df_user_1.describe()
# User 1 made 11 orders
# The orders were made between the hours of 0700 and 1600, with an average order time of about 10:05 AM
# The orders were made between the first and fourth day of the week
# There was an average of 19 days between each order (between 0 and 30 days)

       orders_day_of_week  order_hour_of_day  days_since_prior_order
count           11.000000          11.000000               10.000000
mean             2.636364          10.090909               19.000000
std              1.286291           3.477198                9.030811
min              1.000000           7.000000                0.000000
25%              1.500000           7.500000               14.250000
50%              3.000000           8.000000               19.500000
75%              4.000000          13.000000               26.250000
max              4.000000          16.000000               30.000000

Export your df_ords dataframe as “orders_wrangled.csv” in your “Prepared Data” folder.

In [53]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))

Export the df_dep_t_new dataframe as “departments_wrangled.csv” in your “Prepared Data” folder so that you have a “.csv” file of your departments data in the correct format.

In [54]:
df_dep_t_new.to_csv(os.path.join(path, '02 Data','Prepared Data', 'departments_wrangled.csv'))