**Contents**

01 Importing Libraries and Datasets

02 Mixed Data Test

03 Null Values

04 Duplicates

05 Export

# 01. Importing Libraries and Datasets

In [5]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [6]:
# Set Path
path = r'C:\Users\Forrest\Desktop\Work\CareerFoundry\Python\2022-10 Instacart Basket Analysis'

In [7]:
# Import orders.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = 0)

In [8]:
# Import products.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Raw Data', 'products.csv'), index_col = 0)

# 02. Mixed Data Test

In [9]:
# Create test df

df_test = pd.DataFrame()

In [10]:
# Create column with mixed data types

df_test['mix'] = ['a', 'b', 1, True]

In [11]:
# Check for mixed data types
# Output is list of columns with mixed data types

for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

# 03. Null values

In [12]:
# Checking number of cells with null values

df_prods.isnull().sum()

product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [13]:
# Create new df without null values

df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

# 04. Duplicates

In [21]:
# Check for duplicates in prods df

df_dups = df_prods_clean[df_prods_clean.duplicated()]

(5, 4)

In [16]:
df_dups

,product_name,aisle_id,department_id,prices
product_id,,,,
462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18458,Ranger IPA,27,5,9.2
26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35491,Adore Forever Body Wash,127,11,9.9

In [17]:
# Drop duplicates

df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

# 05. Export

In [19]:
# Export cleaned csv

df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_cleaned.csv'))