**Contents**

01 Importing Libraries and Data

02 Price_label function (with loop)

02.1 Alternate price_label function (with .loc)

03 Busiest day of week variable

04 Busiest days of the week variable

05 Busiest hours of the day variable

06 Export

# 01. Importing Libraries and Data

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [1]:
# Set Path
path = r'C:\Users\Forrest\Desktop\Work\CareerFoundry\Python\2022-10 Instacart Basket Analysis'

In [3]:
# Import orders_products_master
df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_master.pkl'))

In [35]:
df.head(5)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy days
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regularly busy,Regularly busy days
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Regularly busy days
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Regularly busy days
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,Regularly busy,Regularly busy days

In [6]:
# Creating subset of master df
df_subset = df[:1000000]

# 02. Price_label function (with if loop)

In [7]:
# Define "price_label" function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [ ]:
# Add "price_label" function to new column "price_range"

df_subset['price_range'] = df_subset.apply(price_label, axis=1)

## 02.1 Alternate price_label function (with .loc)

In [10]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [11]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [12]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [13]:
df['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      412551
NaN                      35327
Name: price_range_loc, dtype: int64

# 03. Busiest day of week variable

In [14]:
#Creating list called 'result'. Return string 'Busiest day', 'Least busy', or 'Regularly busy' based on order_day_of_week.

result = []

for value in df["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [15]:
# Adding column with busiest day result

df['busiest_day'] = result

In [22]:
df['busiest_day'].value_counts()

Regularly busy    22437988
Busiest day        6209808
Least busy         3787263
Name: busiest_day, dtype: int64

# 04. Busiest *days* of the week variable

In [78]:
#Creating list called 'busy_days'. Return string 'Busiest 2 days', 'Least busy 2 days', or 'Regularly busy days' based on order_day_of_week.

busy_days = []

for x in df["orders_day_of_week"]:
  if x in [0, 1]:
    busy_days.append("Busiest 2 days")
  elif x in [4, 3]:
    busy_days.append("Least busy 2 days")
  elif x in [2, 5, 6]:
    busy_days.append("Regularly busy days")
  else:
    busy_days.append("No data")

In [79]:
# Adding column with busiest days result

df['busiest_days'] = busy_days

In [80]:
# Checking 'busiest_days' frequency table

df['busiest_days'].value_counts()

Regularly busy days    12927862
Busiest 2 days         11875759
Least busy 2 days       7631438
Name: busiest_days, dtype: int64

Function appears to have worked correctly with no nulls or "No Data"

# 05. Busiest hours of the day variable

In [88]:
df['order_hour_of_day'].value_counts(dropna=False)

10    2764476
11    2738647
14    2691598
15    2664583
13    2663346
12    2620898
16    2537506
9     2456751
17    2089510
8     1719991
18    1637956
19    1259416
20     977049
7      891951
21     796379
22     634743
23     402621
6      290796
0      218951
1      115787
5       88064
2       69435
4       53284
3       51321
Name: order_hour_of_day, dtype: int64

In [92]:
#Creating list called 'busy_hours'. Return string based on order_hour_of_day.

busy_hours = []

for y in df["order_hour_of_day"]:
  if y in [9, 10, 11, 12, 13, 14, 15, 16]:
    busy_hours.append("Most orders")
  elif y in [7, 8, 17, 18, 19, 20, 21, 22]:
    busy_hours.append("Average orders")
  elif y in [0, 1, 2, 3, 4, 5, 6, 23]:
    busy_hours.append("Fewest orders")
  else:
    busy_hours.append("No data")

In [93]:
# Adding column with busiest hours result

df['busiest_hours'] = busy_hours

In [94]:
# Checking 'busiest_hours' frequency table

df['busiest_hours'].value_counts(dropna=False)

Most orders       21137805
Average orders    10006995
Fewest orders      1290259
Name: busiest_hours, dtype: int64

Function appears to have worked correctly with no nulls or "No Data"

# 06. Export

In [96]:
# Exporting new df as pickle
df.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_master_newcols.pkl'))