**Contents**

01 Importing Libraries and Dataset

02 Mean order number

02.1 Mean order number in dataframe subset

02.2 Mean order number in full dataframe

03 Loyalty Flag

03.1 Customer loyalty analysis

04 Spending Flag

05 Order Frequency flag

06 Export

# 01. Importing Libraries and Dataset

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Set Path
path = r'C:\Users\Forrest\Desktop\Work\CareerFoundry\Python\2022-10 Instacart Basket Analysis'

In [4]:
# Import orders_products_master
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_master_newcols.pkl'))

In [27]:
ords_prods_merge.head(10)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_hours,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Regularly busy days,Average orders,10,New customer
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Regularly busy days,Average orders,10,New customer
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,Regularly busy,Regularly busy days,Average orders,10,New customer
5,2398795,1,2,3,7,15.0,196,1,1,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Least busy 2 days,Average orders,10,New customer
6,2398795,1,2,3,7,15.0,10258,2,0,Pistachios,117.0,19.0,3.0,both,Low-range product,Regularly busy,Least busy 2 days,Average orders,10,New customer
7,2398795,1,2,3,7,15.0,12427,3,1,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Least busy 2 days,Average orders,10,New customer
8,2398795,1,2,3,7,15.0,13176,4,0,Bag of Organic Bananas,24.0,4.0,10.3,both,Mid-range product,Regularly busy,Least busy 2 days,Average orders,10,New customer
9,2398795,1,2,3,7,15.0,26088,5,1,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Least busy 2 days,Average orders,10,New customer

# 02. Mean order number

## 02.1 Mean order number in dataframe subset

In [15]:
# Creating subset with first million rows of main df
df_subset = ords_prods_merge[:1000000]

In [18]:
# Finding mean of order number grouped by department ID
df_subset.groupby('department_id')['order_number'].mean()

department_id
1.0     14.792915
2.0     17.091743
3.0     17.919589
4.0     17.891973
5.0     15.214270
6.0     15.382228
7.0     17.699986
8.0     16.485269
9.0     15.965921
10.0    20.091818
11.0    16.485395
12.0    15.615845
13.0    16.485052
14.0    17.523474
15.0    15.690354
16.0    18.014342
17.0    16.155822
18.0    19.606536
19.0    17.630236
20.0    17.138204
21.0    21.996844
Name: order_number, dtype: float64

## 02.2 Mean order number in full dataframe

In [19]:
ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1.0     15.457838
2.0     17.277920
3.0     17.170395
4.0     17.811403
5.0     15.215751
6.0     16.439806
7.0     17.225802
8.0     15.340650
9.0     15.895474
10.0    20.197148
11.0    16.170638
12.0    15.887671
13.0    16.583536
14.0    16.773669
15.0    16.165037
16.0    17.665606
17.0    15.694469
18.0    19.310397
19.0    17.177343
20.0    16.473447
21.0    22.902379
Name: order_number, dtype: float64

For the full and subset data, the department showing the highest average orders and the department showing the lowest average orders are the same. The subset is good for a general picture, but if you want the accurate rankings, you'd need the full dataset. Because of the variations in the data, the rankings are different in the subset.

# 03. Loyalty Flag

In [20]:
# Creating new column 'max_order' with max number of orders grouped by user_id
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [24]:
#Checking 'max_order' values
ords_prods_merge['max_order'].shape

(32435059,)

In [23]:
ords_prods_merge['max_order'].value_counts(dropna=False)

99    1172313
8      812631
6      812072
9      810842
7      804745
       ...
93      50440
90      48399
97      44969
98      44604
96      40469
Name: max_order, Length: 97, dtype: int64

In [14]:
# Create column 'loyalty_flag' based on max_order values
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [25]:
# Checking 'loyalty_flag' values
ords_prods_merge['loyalty_flag'].shape

(32435059,)

In [26]:
ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

Regular customer    15891507
Loyal customer      10294027
New customer         6249525
Name: loyalty_flag, dtype: int64

## 03.1 Customer loyalty analysis

In [31]:
# Checking average price of each item ordered grouped by customer loyalty
ords_prods_merge.groupby('loyalty_flag')['prices'].mean()

loyalty_flag
Loyal customer      7.773575
New customer        7.801206
Regular customer    7.798262
Name: prices, dtype: float64

There appears to be no significant relationship between customer loyalty (number of orders) and the average price of each item they ordered. However, more loyal customers may make orders with more items and spend more overall.

# 04. Spending Flag

In [32]:
# Creating new column 'average_price' with average price of each item ordered grouped by user_id
ords_prods_merge['average_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [39]:
# Checking 'average_price' values
ords_prods_merge['average_price'].shape

(32435059,)

In [40]:
ords_prods_merge['average_price'].value_counts(dropna=False)

8.000000     10512
7.500000      9121
8.100000      7687
7.750000      7435
7.400000      7039
             ...
6.400000         3
11.300000        3
4.066667         3
12.133333        3
10.266667        3
Name: average_price, Length: 128082, dtype: int64

In [41]:
# Create column 'spending_flag' based on average_price values
ords_prods_merge.loc[ords_prods_merge['average_price'] >= 10, 'spending_flag'] = 'High spender'
ords_prods_merge.loc[ords_prods_merge['average_price'] < 10, 'spending_flag'] = 'Low spender'

In [42]:
# Checking 'spending_flag' values
ords_prods_merge['spending_flag'].shape

(32435059,)

In [43]:
ords_prods_merge['spending_flag'].value_counts(dropna=False)

Low spender     32315179
High spender      119880
Name: spending_flag, dtype: int64

# 05. Order Frequency flag

In [44]:
# Creating new column 'median_days_since_last_order' with median of days_since_prior_order grouped by user_id
ords_prods_merge['median_days_since_last_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [45]:
# Checking 'median_days_since_last_order' values
ords_prods_merge['median_days_since_last_order'].shape

(32435059,)

In [46]:
ords_prods_merge['median_days_since_last_order'].value_counts(dropna=False)

7.0     5688634
6.0     2986650
8.0     2714958
5.0     2491691
4.0     2315491
         ...
27.5       5710
26.5       5481
29.5       5017
1.5        1058
0.5         259
Name: median_days_since_last_order, Length: 61, dtype: int64

In [47]:
# Create column 'order_frequency_flag' based on median_days_since_last_order values
ords_prods_merge.loc[ords_prods_merge['median_days_since_last_order'] > 20, 'order_frequency_flag'] = 'Frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_days_since_last_order'] <= 20) & (ords_prods_merge['median_days_since_last_order'] > 10), 'order_frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_days_since_last_order'] <= 10, 'order_frequency_flag'] = 'Infrequent customer'

In [48]:
# Checking 'order_frequency_flag' values
ords_prods_merge['order_frequency_flag'].shape

(32435059,)

In [50]:
ords_prods_merge['order_frequency_flag'].value_counts(dropna=False)

Infrequent customer    21578273
Regular customer        7217066
Frequent customer       3639720
Name: order_frequency_flag, dtype: int64

# 06. Export

In [51]:
# Exporting new df as pickle
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_master_4.8.pkl'))